.edit_field{
  display: none;
}

.btn-addroom{
  float: right;
}
.room-name-label{
  top: 0px !important;
  margin-right: 5px;
}
.account-main{
  background: #E9E6E0 url(body.jpg) 0 0 repeat !important;
}
.delete-btn {
  color: red;
}
.delete-btn:hover {
  background: #d73a49;
  color: white;
}
.workspace-edit-link{
  color: #0e5487;
}
.ul-workspace{
  width: 100%;
  overflow: hidden;
  min-height: 30px;
  margin-top: 5px;
}
.workspace-edit-link:hover{
  color: blue;
}
.workspace-delete-link:hover{
  color: red;
}
.workspace-delete-link{
  color: #0e5487;
}
.add-company-btn{
  float: right;
}
.add-workspace-btn{
  float: right;
}
.glyphicon:before {
  margin-right: 5px !important;
}
.edit-btn-workspace{
  margin-left: 10px;
}
.ul-workspace{
  width: 100%;
  overflow: hidden;
}

.btn-lg{
  padding: 7px 11px !important;
}
.button-edit-user{
  margin-top: 10px;
  float: right;
}
.title-account{
  text-align: center;
  font-size: 20px;
}
.table-infor-user{
  padding-bottom: 20px;
}
.tr-infor-user{
  height: 60px !important;
}
.home-link{
  cursor: pointer !important;
  color: white !important;
}
.wrap {
  max-width: 1242px !important;
}
.content {
  padding: 60px 0 0 !important;
}
.iner-content-index {
  font-family: 'aktiv-grotesk-std', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}
.iner-index-child {
  font-family: 'aktiv-grotesk-std','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 34px !important;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 0;
  color: #fff;
}
.content-text-index{
  width: 1147px;
}
.inner-section-index{
  width: 100%;
  height: 103%;
  margin-top: -10px ;
  background-color: rgba(0,0,0,.5) ;
}
.banner-header{
  padding-top: 30px;
}
.btn-signup {
  color: #fff;
  background: rgba(17, 132, 245, 0.9);
  line-height: 32px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 700;
  width: 149px;
  margin-top: -63px;
}

.btn-signup:hover {
  color: rgba(8, 8, 8, 0.39);
}

.label-index {
  font-size: 14px !important;
}

.title-form {
  font-size: 18px !important;
}

.crumbs {
  font-size: 14px;
}
