<header>
  <nav class="main-nav" role="navigation" id="nav">
    <ul class="wrap">
      <li><%= link_to t("view.index.home"), root_path, class: "home-link" %></a>
      </li>
    </ul>
  </nav>
</header>
