<header>
  <nav class="main-nav" role="navigation" id="nav">
    <ul class="wrap">
      <li><a href="#" ><%= t "view.user.account" %></a>
        <ul>
          <li><a href="#"></a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
